@font-face{
    src: url(fonts/SignPainter_HouseCasual_Regular.ttf);
    font-family: SignPainter HouseCasual;
}

body {
    margin: auto;
    height:100vh;
    width:100vw;
    background-color: transparent;
}

h3{
    margin:0;
    font-family: 'SignPainter HouseCasual', 'Caveat', cursive;
    color: lightgray;
    font-size: 40px;
    position: absolute;
    top:0;
    right:0;
    padding-right: 5px;
}