@font-face{
    src: url(fonts/Montserrat-Thin.ttf);
    font-family: 'Monserrat'
}

body {
    margin: auto;
    height:100vh;
    width:100vw;
    background-color: transparent;
}

h3{
    margin:0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Monserrat', 'Ariel', 'Caveat', cursive;
    color: lightgray;
    font-size: 100px;
    position: absolute;
    bottom:0;
    right:0;
    padding-right: 5px;
    text-align: end;
}